name: Upstream Stash Release
on:
  push:
    branches:
      - main
    paths:
      - 'UPSTREAM_VERSION'
  workflow_dispatch:

jobs:
  docker:
    uses: ./.github/workflows/docker.yml
    with:
      variant: full
      skip_merge: true
    secrets: inherit
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
  docker-lite:
    uses: ./.github/workflows/docker.lite.yml
    with:
      variant: lite
      skip_merge: true
    secrets: inherit
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
  
  merge:
    runs-on: ubuntu-latest
    needs: [docker, docker-lite]
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Get Stash Version
        id: get_version
        run: |
          VER=$(cat UPSTREAM_VERSION)
          echo "UPSTREAM_VERSION=$VER" >> $GITHUB_OUTPUT
          echo "UPSTREAM_VERSION=$VER" >> $GITHUB_ENV

      - name: Download full digests
        uses: actions/download-artifact@v5
        with:
          path: ${{ runner.temp }}/digests-full
          pattern: digests-full-*
          merge-multiple: true

      - name: Download lite digests
        uses: actions/download-artifact@v5
        with:
          path: ${{ runner.temp }}/digests-lite
          pattern: digests-lite-*
          merge-multiple: true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create full image manifest
        id: meta_full
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository_owner }}/stash-jellyfin-ffmpeg
            ${{ github.repository_owner }}/stash
            ghcr.io/${{ github.repository_owner }}/stash
          flavor: latest=true
          tags: |
            type=raw,priority=997,${{ steps.get_version.outputs.UPSTREAM_VERSION }}
            type=sha,priority=998,prefix=${{ steps.get_version.outputs.UPSTREAM_VERSION }}-
            type=sha,priority=999,prefix=,suffix=,format=short

      - name: Create lite image manifest
        id: meta_lite
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository_owner }}/stash-jellyfin-ffmpeg
            ${{ github.repository_owner }}/stash
            ghcr.io/${{ github.repository_owner }}/stash
          flavor: latest=false
          tags: |
            type=raw,priority=996,lite-${{ steps.get_version.outputs.UPSTREAM_VERSION }}
            type=sha,priority=997,prefix=lite-${{ steps.get_version.outputs.UPSTREAM_VERSION }}-
            type=sha,priority=998,prefix=lite-,suffix=,format=short
            type=raw,priority=999,lite

      - name: Create and push full manifest
        working-directory: ${{ runner.temp }}/digests-full
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ github.repository_owner }}/stash-jellyfin-ffmpeg@sha256:%s ' *)
        env:
          DOCKER_METADATA_OUTPUT_JSON: ${{ steps.meta_full.outputs.json }}

      - name: Create and push lite manifest
        working-directory: ${{ runner.temp }}/digests-lite
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ github.repository_owner }}/stash-jellyfin-ffmpeg@sha256:%s ' *)
        env:
          DOCKER_METADATA_OUTPUT_JSON: ${{ steps.meta_lite.outputs.json }}

      - name: Inspect images
        run: |
          echo "Full image:"
          docker buildx imagetools inspect ${{ github.repository_owner }}/stash:${{ steps.get_version.outputs.UPSTREAM_VERSION }}
          echo "\nLite image:"
          docker buildx imagetools inspect ${{ github.repository_owner }}/stash:lite-${{ steps.get_version.outputs.UPSTREAM_VERSION }}